extends layout

block header
  script.
    var torrentList = !{JSON.stringify(torrents)};
  script(src='/javascripts/lib/requirejs/require.js' data-main='/javascripts/bootstrap')
  script.
    require(['homeBootstrap']);
block content
  #app-container
